<launch>
  <!-- Load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find final_one)/urdf/simplified_lite3.urdf" />

  <!-- Joint State Publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Robot State Publisher (Publishes TFs) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
